<div class="card-group">
  <div class="card" style="border:2px solid green">
    <img src="../../../assets/steam.jpg" class="card-img-top" style="height: 230px;" alt="Locomotoras de vapor">
    <div class="card-body">
      <h5 class="card-title">Locomotoras de vapor</h5>
      <p class="card-text">Una locomotora de vapor o locomotora a vapor es un tipo de locomotora impulsada por la acción del vapor de agua. Era la forma dominante de tracción en los ferrocarriles, hasta que a mediados del siglo XX fueron reemplazadas por las locomotoras diésel y eléctricas.</p>
    </div>
    <div class="card-footer" style="text-align: center;">
      <button class="btn btn-success" style="width: 150px;">VER</button>
    </div>
  </div>
  <div class="card" style="border:2px solid green">
    <img src="../../../assets/diesel.jpg" class="card-img-top" style="height: 230px;" alt="Locomotoras diesel">
    <div class="card-body">
      <h5 class="card-title">Locomotoras diesel</h5>
      <p class="card-text">Una locomotora diésel-eléctrica es un tipo de locomotora que tiene en su interior un motor de combustión interna (que puede usar diésel, tanto fósil como biodiésel) acoplado a un generador trifásico que suministra la corriente eléctrica a los motores de tracción y a los ventiladores del radiador para refrigerar el motor diésel. </p>
    </div>
    <div class="card-footer" style="text-align: center;">
      <a href="#" class="btn btn-success" style="width: 150px;">VER</a>
    </div>
  </div>
  <div class="card" style="border:2px solid green">
    <img src="../../../assets/electric.jpg" class="card-img-top" style="height: 230px;" alt="Locomotoras elécticas">
    <div class="card-body">
      <h5 class="card-title">Locomotoras elécticas</h5>
      <p class="card-text">Una locomotora eléctrica es una locomotora alimentada por una fuente externa de energía eléctrica. La fuente externa puede ser catenaria, tercer riel, o por medio de un dispositivo de almacenamiento a bordo, como baterías, baterías inerciales o pilas de combustible.</p>
    </div>
    <div class="card-footer" style="text-align: center;">
      <a href="#" class="btn btn-success" style="width: 150px;">VER</a>
    </div>
  </div>
</div>
